<%- include('partials/header'); -%>


<main class="container">
  <div class="main-container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">

      <h1 class="border-bottom pb-2 mb-0">Your post</h1>
      <% var count = 0; %>
      <% posts.forEach(function(element){ %>
        <% count++; %>
      <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>

          <rect width="100%" height="100%" fill="#f37121" /><text x="30%" y="50%" fill="white" dy=".3em"><%= count %></text>
        </svg>

        <% if(element.content.length > 200){ %>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark"><%= element.day %> - <%=element.title %></strong>

          <%= element.content.substr(0,200) %> ... <a href="/posts/<%= element._id %>">Read more...</a>
        </p>
        <% } else { %>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark"><%= element.day %> - <%=element.title %></strong>

          <%= element.content %>
        </p>
        <% }%>


      </div>
      <%  }) %>


    </div>



</main>


<%- include('partials/footer'); -%>
