<%- include('partials/header'); -%>



<h1>Home</h1>

<p> <%= homePharagraph %> </p>


<% posts.forEach(function(element){ %>
<div class="new-item">



<h1> <%= element.title %> </h1>

<% if(element.content.length > 100){ %>
  <p> <%= element.content.substr(0,100) %> ...  <a href="/posts/<%= element._id %>" </a>Read more...</a> </p>
<% } else { %>
  <p> <%= element.content %> </p>
<% }%>


</div>

<%  }) %>






<%- include('partials/footer'); -%>
