<%- include('partials/header'); -%>


  <div id="carouselExampleFade" class="carousel slide carousel-container " data-bs-ride="carousel">

  <div class="carousel-inner ">
    <div class="carousel-item active">
      Just blog, content and simplicity.
      <!-- <img src="..." class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item">
      <p>
        Porco basically means Project coba coba
        </p>
      </div>
    <div class="carousel-item">
      <p>Always keep it short and simple.</p>

    </div>
  </div>
  <button class="carousel-control-prev" style="visibility: hidden;" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button"  style="visibility: hidden;" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container py-5 main-post-container">


  <div class="row py-5">
    <div class="col-lg-12 mx-auto">

      
      <% posts.forEach(function(element){ %>
      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <h1 class="mb-4 post-header"><%= element.title%></h1>
          <p class="posted-on">Posted on - <%=element.day%></p>
          <!-- Unordered list -->
          <p><%=element.content%></p>

        </div>
      </div>
      <% }) %>
      </div>
      </div>




<%- include('partials/footer'); -%>
